node_modules
**/node_modules
.env
**/.env
.DS_Store
Thumbs.db
client/dist
server/dist
server/uploads/*
server/compressed/*
server/temp/*
uploads/*
compressed/*
temp/*
!**/.gitkeep
cpp-engine/build
.vscode/.ropeproject
coverage
